@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
    scroll-behavior: smooth;
  }

  
body{
    color: red;
    font-family: 'Lora', serif;
}

img{
    width: 300px;
    height: 300px;
}

input:focus { outline: none; }
.lightBg{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
form h2{
    font-size: 35px;
    font-weight: bold;
    color: black;
}

#update{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
form label{
    font-size: 17px;
    font-weight: 550;
}
.edit{
    width: 50%;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid #ddd;
    background: white;

}
#textarea{
    width: 50%;
    height: 150px;
}

 #ingr{
    width: 22%;
  }

  #ingrEdit{
      width: 25%;
  }

.add_field_button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .3em;
    color: #085239;

}

.add_field_button:active {
    position: relative;
    top: 1px;
}
#main{
    background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
margin: auto;
  width: 600px;
  padding: 50px 0px 50px 0px;
  color: #333;
  box-shadow: 0px 6px 8px rgba(0,0,0,0.5);
}
