/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    display: none;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /*detail page*/


  #recipe-detail-body{
    box-sizing: border-box;
    background-image: url('https://i.pinimg.com/564x/5c/75/25/5c752531acb8b8d11b7ce10662cf65b2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }



  #container1{
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    font: 20px europe-boldergular, sans-serif;

  }


  #container2{
    float: right;
    margin-right: 200px;
    margin-top: 100px;
  }


  #container2 img{
    max-width: 480px;
    max-height: 480px;
    width: 35vw;
    height: 35vw;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgb(143, 224, 245);
  }


  #container1 h2{
    font: 60px europe-boldergular, sans-serif;
    color: #232322;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0px 0px 0px;

  }

  #container1 form button{
    font: 20px europe-boldergular, sans-serif;

  }

  #container1 h4 p form{
    margin-left: 30px;
    padding-top: 20px;
  }


  #recipe-detail-category{
    color: #111111;
  }
  
  
  #recipe-detail-origin{
    color:#111111;
  
  }
  #recipe-list{
    color: #111111;
    padding-right: 5px;
  }


  #recipe-ingredient{
    clear: both;
    padding-top: 20px;
    color: black;
    font: 16px europe-boldergular, sans-serif;
    background-color:  #818181 20px;
  }

  #ingredient-image{
    width:5vw;
    height: 3vw;
    padding: 2px;
  } 
 

  #recipe-instructions{
    clear: both;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding-top: 20px;
  }


 iframe{
   width: 35vw;
   height: 20vw;
   margin-top: 50px;
   box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
   }


 #recipe-instruction{
  font:  europe-boldergular, sans-serif;
  color: #232322;
  

 }
#recipe-button{
  border: none;
  color: #f1f1f1;
  background-color: #111;
  cursor: pointer;
  border-radius: 10px;
}





