@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

/* Fixed sidenav, full height */

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'Lora', serif;
  font-weight: bold;

}

/* Style the sidenav links and the dropdown button */
.sidenav a, .sidenav span, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .sidenav span:hover, .dropdown-btn:hover {
  color: rgb(146, 11, 11);
}


/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #ddd;
  color: rgb(146, 11, 11);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #ddd;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav span {font-size: 18px;}

}


  /*detail page ---------------------------------------------------------- */

  #container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin-left: 60px;
    margin-bottom: 15px;
    padding-bottom: 5pc;
    margin-top: 140px;;
  }


  #container1{
    /* float: left; */
    margin-top: 40px;
    /* margin-left: 50px;  */
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 20px;
    font-family: 'Lora', sans-serif;
    position: relative;
    left: -100px;
    text-align: left;
    padding-left: 150px;

  }


  #container2{
    /* float: right;
    margin-right: 200px;
    margin-top: 100px; */
    grid-column: 1/2;
    grid-row: 1/2;
  }


  #container2 img{
    max-width: 480px;
    max-height: 480px;
    width: 35vw;
    height: 35vw;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 8px  #085239;
  }


  #container1 h2{
    font: 55px 'Lora', sans-serif;
    color: #232322;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0px 0px 0px;
    margin-top: 50px;

  }

  #container1 form button{
    font-family: 'Lora', sans-serif;
    margin-top: 100px;

  }

  #container1 h4 p form{
    margin-left: 30px;
    padding-top: 20px;
  }

  #bold{
    font-weight: bold;
  }

  #recipe-detail-category{
    color: #111111;
    margin-top: 20px;
    font: 25px 'Lora', sans-serif;
    position: relative;
    }
  
  
  #recipe-detail-origin{
    color:#111111;
    margin-top: 20px;
    font: 25px 'Lora', sans-serif;
    position: relative;
  }
  #recipe-list{
    color: #111111;
    padding-right: 5px;
    font: 25px europe-boldergular, sans-serif;

  }

  #ingredient-image{
    width: 60px;
    height: 60px;
  } 
 

  #recipe-instructions{
    clear: both;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
  }

  #inst{
    margin-top: 10px;
    font-size: 2pc;
    font-weight: bold;
    text-align: left;
    margin-left: 1pc;
    margin-bottom: -3pc;
  }

 iframe{
   width: 80%;
   height: 600px;
   grid-column: 1/2;
   grid-row: 2/3;
   box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
   margin-left: -200px;
   }


 #recipe-instruction{
  font-size: 23px;
  color: #232322;
  display:grid;
  grid-column: 1/2;
  grid-row:1/2;
  padding-left: 40px;
  line-height: 1.6;
  text-align: justify;
  width: 80%;
 }

 #recipe-button{
  font-family: 'Raleway', sans-serif;
  box-sizing: inherit;
  padding: .688rem 1.25rem;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  border: 3px solid rgb(146, 11, 11) ;
  text-transform: capitalize;
  font-weight: bold;
  background-color: rgb(146, 11, 11) ;
  color: white;
  position: relative;
  top: 30px;
}

#recipe-button:hover, #editRecipe:hover, #deleteRecipe:hover{
  border: 3px solid black;
}



#recipe-button:focus{
  outline: none;
}
#recipe-list-image{
  clear: both;
  grid-column:2/3;
  grid-row: 1/4;
  height:800px;
  overflow-y: scroll;
  margin-top: 5pc;
}


/* Ingredients List */

#detailsH2{
color: black;
font-weight: bold;
font-size: 40px;
margin: auto;
padding-top: 20px;
position: relative;
left: -50px;
}

#detailsLine{
  background-color:rgb(146, 11, 11);
      margin-left: 42%;
      margin-right: 42%;
      border: 2px solid rgb(146, 11, 11);
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
}


/* nav overlay */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}


#overlayList1 {
  position: absolute;
  top: 25%;
  text-align: left;
  margin-top: 30px;
  padding-left: 270px ;
}



#overlayList2 {
  position: absolute;
  top: 25%;
  width: 30%;
  left: 45%;
  text-align: left;
  margin-top: 30px;
}

#overlayList3 {
  position: absolute;
  top: 25%;
  width: 30%;
  left: 70%;
  text-align: left;
  margin-top: 30px;
}


.icons{
  width: 40px;
  height: 40px;
}

#ingrIcon{
  position: relative;
  top: 60px;
  right: 190px;
}

#videoIcon{
  position: relative;
  top: 60px;
  right: 140px;
}

/* Ingredients table */
#ingrTable {
  font-family: 'Raleway', sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-top: 50px;
  margin-left: 40px;
}

#ingrTable td {
  border: 1px solid #ddd;
  padding: 8px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}


#ingrTable tr:nth-child(even){background-color: #f2f2f2;}

#ingrTable tr:hover {background-color: #ddd;}



#editRecipe{
  font-family: 'Raleway', sans-serif;
  box-sizing: inherit;
  padding: .688rem 1.25rem;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  border: 3px solid rgb(146, 11, 11) ;
  text-transform: capitalize;
  font-weight: bold;
  background-color: rgb(146, 11, 11) ;
  color: white;
  position: relative;
  top: 30px;
  width: 40%;
}

#deleteRecipe{
  font-family: 'Raleway', sans-serif;
  box-sizing: inherit;
  padding: .688rem 1.25rem;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  border: 3px solid  rgb(146, 11, 11) ;
  text-transform: capitalize;
  font-weight: bold;
  background-color:  rgb(146, 11, 11) ;
  color: white;
  position: relative;
  bottom: 137px;
  left: 255px;
  width: 40%;
}
/*style for aboutUs page */

.aboutUs{
  font-family:'Gudea', sans-serif;
  color: rgb(156, 0, 0);
}
 
.teamimg {
  width: 160px;
  border-radius: 500px;}
.first img {
  float: left;

}
.first span p {
  width: 400px;
  line-height: 1.3;
}
.first span{
  margin-left: 40px;
  display: inline-block;
  margin-top: 12px;
}
.first{
  padding: 70px;
  float: left;
}
.first span img {
  width: 22px;
  padding: 3px;
}
.first span h3 {
  font-size: 25px;
}

#our{
  text-align: center;
  font-size: 40px;
}
#our span{
  font-size: 25px;
}
.last-section p {
  margin-top: 50px;
}
.last-section article{
  margin-left: 170px;
}

/*style for footer*/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: black;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: larg;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}


.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}



.heart {
  color: #2f2f2f;
}



@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  

  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
