@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

/* Fixed sidenav, full height */

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'Lora', serif;

}

/* Style the sidenav links and the dropdown button */
.sidenav a, .sidenav span, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .sidenav span:hover, .dropdown-btn:hover {
  color: #cf1717;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #ddd;
  color: #cf1717;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #ddd;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav span {font-size: 18px;}

}


  /*detail page ---------------------------------------------------------- */

  #container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin-left: 60px;
    margin-bottom: 15px;
    padding-bottom: 5pc;
    margin-top: 140px;;
  }


  #container1{
    /* float: left; */
    margin-top: 40px;
    /* margin-left: 50px;  */
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 20px;
    font-family: 'Lora', sans-serif;
    position: relative;
    left: -100px;
    text-align: left;
    padding-left: 150px;

  }


  #container2{
    /* float: right;
    margin-right: 200px;
    margin-top: 100px; */
    grid-column: 1/2;
    grid-row: 1/2;
  }


  #container2 img{
    max-width: 480px;
    max-height: 480px;
    width: 35vw;
    height: 35vw;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 8px  #085239;
  }


  #container1 h2{
    font: 55px 'Lora', sans-serif;
    color: #232322;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0px 0px 0px;
    margin-top: 50px;

  }

  #container1 form button{
    font-family: ';
    margin-top: 100px;

  }

  #container1 h4 p form{
    margin-left: 30px;
    padding-top: 20px;
  }

  #bold{
    font-weight: bold;
  }

  #recipe-detail-category{
    color: #111111;
    margin-top: 20px;
    font: 25px 'Lora', sans-serif;
    position: relative;
    }
  
  
  #recipe-detail-origin{
    color:#111111;
    margin-top: 20px;
    font: 25px 'Lora', sans-serif;
    position: relative;
  }
  #recipe-list{
    color: #111111;
    padding-right: 5px;
    font: 25px europe-boldergular, sans-serif;

  }

  #ingredient-image{
    width:5vw;
    height: 3vw;
    padding: 2px;
  } 
 

  #recipe-instructions{
    clear: both;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
  }

  #inst{
    margin-top: 10px;
    font-size: 2pc;
    font-weight: bold;
    text-align: left;
    margin-left: 1pc;
    margin-bottom: -3pc;
  }

 iframe{
   width: 35vw;
   height: 20vw;
   grid-column: 1/2;
   grid-row: 2/3;
   box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
   margin: auto;
   }


 #recipe-instruction{
  font-size: 23px;
  color: #232322;
  display:grid;
  grid-column: 1/2;
  grid-row:1/2;
  padding-left: 15px;
  line-height: 1.6;
  text-align: justify;
 }
#recipe-button{
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}


#recipe-button:focus{
  outline: none;
}
#recipe-list-image{
  clear: both;
  grid-column:2/3;
  grid-row: 1/4;
  height:800px;
  overflow-y: scroll;
  margin-top: 5pc;
}


/* nav overlay */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#overlayList1 {
  position: absolute;
  top: 25%;
  width: 30%;
  text-align: left;
  margin-top: 30px;
  padding-left: 270px ;
}



#overlayList2 {
  position: absolute;
  top: 25%;
  width: 30%;
  left: 45%;
  text-align: left;
  margin-top: 30px;
}

#overlayList3 {
  position: absolute;
  top: 25%;
  width: 30%;
  left: 70%;
  text-align: left;
  margin-top: 30px;
}