#logo{
    height: 100px;
    width: 100px;
    margin: auto;
}
.resultView {
    display: flex;
    flex-flow: column wrap;
    float: left;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    
}
.resultView img{
    border-radius: 5px;
}
.resultView h2{
    font-weight: bolder;
    color: rgb(0, 0, 0);
}