#logo{
  height: 200px;
  width: 200px;
  margin: auto;
}

main{
  padding-left: 250px;
}

#logout{
  background-color: white;
}
#logout:hover{
  color:  rgb(146, 11, 11);
}

#searchFormSection{
  margin-top: 80px;
  
}

#searchBar{
  display: inline;
}

.resultView {
  display: flex;
  flex-flow: column wrap;
  float: left;
  margin: 20px;  
}
.resultView img{
  border-radius: 5px;
}
.resultView h2{
  font-weight: bolder;
  color: rgb(0, 0, 0);
  max-width: 300px;
  margin-top:5px;
  font-size: 20px;
  font-family: 'Lora', serif;

}


/* Search Form */
form.searchForm input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ddd;
  float: left;
  width: 80%;
  background: #ffff;
  border-radius: 5px;
  text-align: center;
}

form.searchForm button {
  float: left;
  /*width: 20%;*/
  padding: 10px;
  background: white;
  color:  rgb(146, 11, 11);
  font-size: 17px;
  border: 2px solid white;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  left: -38px;
  top: 1px;

}

form.searchForm button:hover {
  background:  rgb(146, 11, 11);
  color: white;

}

form.searchForm::after {
  content: "";
  clear: both;
  display: table;
}


/*Select in homepage*/
/* Reset Select */
.select-css {
display: block;
  font-size: 12px;
color: gray;
line-height: 1.3;
padding: .6em 1.4em .5em .8em;
width: 115px;
max-width: 100%;
box-sizing: border-box;
margin: 0;
border: 1px solid #aaa;
box-shadow: 0 0.5px 0 0.5px #ddd;
border-radius: 5px;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background-color: #fff;
background-image: url('https://cdn4.iconfinder.com/data/icons/ios-edge-glyph-3/25/Down-Carrot-512.png'),
  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
background-repeat: no-repeat, repeat;
background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  position: relative;
  top: 10px;
  left: 155px;
  height: 30px;
}

.select-css::-ms-expand {
display: none;
}
.select-css:hover {
border-color: #888;
}
.select-css:focus {
border-color: #aaa;
box-shadow: 0 0 1px 1px #ddd;
box-shadow: 0 0 0 3px -moz-mac-focusring;
color: gray;
outline: none;
}
.select-css option {
font-weight:normal;
}

/* ---- */
*:focus{
  outline: none;
}


#hero{
  font-family: 'Lora', serif;
  background-image: url('/back2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 400px;
  padding-top: 200px;
}

#randomSection{
  padding-left: 250px;
  background-image: url('/marble.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 800px;
  padding-top: 10px;
}

#slogan h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding-left: 250px;
  }

#slogan p{
  font-size: 30px;
  font-family: 'Kaushan Script', cursive;
  color: rgb(185, 178, 178);
  padding-left: 290px;

  }

#line{
      background-color: rgb(146, 11, 11);
      margin-left: 42%;
      margin-right: 42%;
      border: 2px solid  rgb(146, 11, 11);
      position: relative;
      right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

#randomH2{
  color: black;
  font-weight: bold;
  font-size: 50px;
  padding-left: 400px;
  padding-top: 20px;

}

#randomItems{
  padding-left: 90px;
}

/* Overlay */
.overlayContainer {
  position: relative;
  width: 50%;
}


.overlayImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  rgb(146, 11, 11);
}

.overlayContainer:hover .overlayImage {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* light background */
.lightBg{
  background-image: url('/bg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Lora', serif;

}

#searchResultSection{
  padding-left: 50px;
  margin-top: 100px;
}

#add-recipe-button{
  font-family: 'Raleway', sans-serif;
  box-sizing: inherit;
  padding: .688rem 1.25rem;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  border: 3px solid rgb(146, 11, 11);
  text-transform: capitalize;
  font-weight: bold;
  width: 45%;
  background-color: rgb(146, 11, 11);
  border-color: rgb(146, 11, 11);
  color: white;
}


#add-recipe-button:hover{
  background-color: white;
  color: rgb(146, 11, 11);
}

#slogan h1{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-left: -130px;
}


#slogan div{
  background-color: rgb(146, 11, 11);
  margin-left: 42%;
  margin-right: 42%;
  border: 2.5px solid rgb(146, 11, 11);
}

#slogan button{
  font-family: 'Raleway', sans-serif;
  box-sizing: inherit;
  padding: .688rem 1.25rem;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  border: 3px solid rgb(146, 11, 11);
  text-transform: capitalize;
  font-weight: bold;
  width: 200px;
  background-color: rgb(146, 11, 11);
  border-color: rgb(146, 11, 11);
  color: white;
  margin-left: 460px;
  
}

#viewSearchButton{
  margin-top: 60px;
  margin-bottom: 20px;;
}


#slogan button:hover{
  background-color: white;
  color: rgb(146, 11, 11);
}

#slogan img{
  width: 50px;
  height: 50px;
  margin-left: 550px;
}

#logout{
 background-color: white;
 cursor: pointer;
}
#logout:hover{
  color: rgb(146, 11, 11);
 }


 /* Cookbook main page ------------ */

 .elementsCount{
  color: black;
  font-weight: bold;
  font-size: 40px;
  margin: auto;
  padding-top: 20px;
  position: relative;
  left: -150px;
 }

 .mainAddButton{
  font-family: 'Raleway', sans-serif;
  box-sizing: inherit;
  padding: 5px 5px;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  border: 3px solid  rgb(146, 11, 11);
  text-transform: capitalize;
  font-weight: bold;
  width: 15%;
  background-color:  rgb(146, 11, 11) ;
  color: white;
  position: relative;
  top: 80px;
  right: 517px;
  }

  .mainAddButton:hover{
    border: 3px solid black;
  }

  .recipesShow{
    margin-top: 100px;
  }

  #elementsCountBookmarks{
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    padding-top: 20px;
    position: relative;
    left: -10px;
  }

  .bookmarksShow{
    margin-left: 250px;
    margin-top: 100px;
  }