<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/head.ejs') %>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gudea&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="aboutUs">
  <%- include('../layouts/header.ejs')%>

  <main>
    <section class="last-section">
      <p id="our">OUR TEAM <br><span>Meet the team - our creative designers:</span> </p>
      <br>
      <article class="first">
        <img class="teamimg" src="/batool2.jpg" alt="">
        <span>
          <h3>
            Batool malkawwi
          </h3>
          <p>A Software Development Trainee at ASAC | Master student at the University of Jordan in Computer Science | Interested in software engineering and scientific research, passionate about learning.</p><br>
          <a href=""><img src="/email.png" alt=""></a>
          <a href=""><img src="/github-sign.png" alt=""></a>
          <a href=""><img src="/linkedin.png" alt=""></a>
        </span>
      </article>
      <article class="first">
        <img class="teamimg" src="/aya.jpg" alt="">
        <span>
          <h3>
            Aya aburashed
          </h3>
          <p>Studied computer science in yarmouk University and have a bachelor's degree with it I'm good at
            programming, web designing especially with python, c++ languages
            I like to do anything that make me happy and satisfyed about myself.</p><br>
          <a href="ayanaser402@gmail.com"><img src="/email.png" alt=""></a>
          <a href=" https://github.com/AyaAbuRashed "><img src="/github-sign.png" alt=""></a>
          <a href="https://www.linkedin.com/in/aya-abu-rashed-909a7a1b4/"><img src="/linkedin.png"
              alt=""></a>
        </span>
      </article>
      <article class="first">
        <img class="teamimg" src="/hamza.jpg" alt="">
        <span>
          <h3>
            Hamza Rashed
          </h3>
          <p>
            Studied computer science in yarmouk University and have a bachelor's degree with it I'm good at
            programming, web designing especially with python, c++ languages
            I like to do anything that make me happy and satisfyed about myself.
          </p><br>
          <a href=""><img src="/email.png" alt=""></a>
          <a href=""><img src="/github-sign.png" alt=""></a>
          <a href=""><img src="/linkedin.png" alt=""></a>
        </span>
      </article>
      <article class="first">
        <img class="teamimg" src="/sondos2.jpg" alt="">
        <span>
          <h3>
           Sondos Albraim
          </h3>
          <p>I have an English Language and Literature degree from the University of Jordan. I am currently doing a course in Software Development and started to create my own websites. I am very passionate about this field and I plan to take this route as my lifelong career.</p><br>
          <a href=""><img src="/email.png" alt=""></a>
          <a href=""><img src="/github-sign.png" alt=""></a>
          <a href=""><img src="/linkedin.png" alt=""></a>
        </span>
      </article>
      <article class="first">
        <img class="teamimg" src="/momayaz.jpg" alt="">
        <span>
          <h3>
           Momayaz Aldoos 
          </h3>
          <p>Studied computer science in yarmouk University and have a bachelor's degree with it I'm good at
            programming, web designing especially with python, c++ languages
            I like to do anything that make me happy and satisfyed about myself.</p>
          <br>
          <a href=""><img src="/email.png" alt=""></a>
          <a href=""><img src="/github-sign.png" alt=""></a>
          <a href=""><img src="/linkedin.png" alt=""></a>
        </span>
      </article>
    </section>
  </main>
 
 
  <%- include ('../layouts/footer') %>

</body>

</html>