<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Pinch Of Salt</h1>

    <h2>Contact Us</h2>
    <br>
    <address>
      5534 Somewhere In. The World 22193-10212<br>
 <br>

    </address>     
  </div>
  
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Our Pages</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Home Page</a>
        </li>

        <li>
          <a href="#">Sing-In Page</a>
        </li>
            
        <li>
          <a href="#">About Us Page</a>
        </li>
      </ul>
    </li>
    

    
     <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Our Accountes</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Facebook Account</a>
        </li>

        <li>
          <a href="#">Instagram Account</a>
        </li>
            
        <li>
          <a href="#">Twitter Account</a>
        </li>
      </ul>
    </li>
       
         
     <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title"> <span>Food Made with Love  <span class="heart">♥</span> </span></h2>

      <ul class="nav__ul">
        <li>
          <p>&copy; 2020 Something. All rights reserved.</p>
        </li>
      </ul>
    </li>
        
        


   
  
</footer>