<header>
<h1 class="headerH1">Pinch Of Salt</h1>
<nav>
    <ul id="navList">
        <li><a href="/">Home</a></li>
        <li><a href="">Menu</a></li>
        <li><a href="/recipes/show">My Cookbook</a></li>
        <li><a href="">About Us</a></li>
    </ul>
</nav>
</header>