<header>
    <div class="sidenav">
        <a href="/"><img id='logo' src="/logo.png"></a>
        <a href="/">Home</a>
        <button class="dropdown-btn">World Cuisine
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
                <a href='aAmerican'>American</a>
                <a href='aBritish'>British</a>
                <a href="aCanadian">Canadian</a>
                <a href="aChinese">Chinese</a>
                <a href="aDutch">Dutch</a>
                <a href="aEgyptian">Egyptian</a>
                <a href="aFrench">French</a>
                <a href="aGreek">Greek</a>
                <a href="aIndian">Indian</a>
                <a href="aIrish">Irish</a>
                <a href="aItalian">Italian</a>
                <a href="aJamaican">Jamaican</a>
                <a href="aJapanese">Japanese</a>
                <a href="aKenyan">Kenyan</a>
                <a href="aMalaysian">Malaysian</a>
                <a href="aMexican">Mexican</a>
                <a href="aMoroccan">Moroccan</a>
                <a href="aPolish">Polish</a>
                <a href="aRussian">Russian</a>
                <a href="aSpanish">Spanish</a>
                <a href="aThai">Thai</a>
                <a href="aTunisian">Tunisian</a>
                <a href="aTurkish">Turkish</a>
                <a href="aVietnamese">Vietnamese</a>
                <a href="aUnknown">Unknown</a>
        </div>
        <button class="dropdown-btn">Dishes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="cBeef">Beef</a>
            <a href="cBreakfast">Breakfast</a>
            <a href="cChicken">Chicken</a>
            <a href="cDessert">Dessert</a>
            <a href="cGoat">Goat</a>
            <a href="cLamb">Lamb</a>
            <a href="cMiscellaneous">Miscellaneous</a>
            <a href="cPasta">Pasta</a>
            <a href="cSeafood">Seafood</a>
            <a href="cSide">Side</a>
            <a href="cStarter">Starter</a>
            <a href="cVegan">Vegan</a>
            <a href="cVegetarian">Vegetarian</a>
        </div>
        <button class="dropdown-btn">My Cookbook
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="recipes">My Recipes</a>
            <a href="bookmarks">Bookmarks</a>
        </div>
        <a href="">About Us</a>
        <a href="/loginForm" id="login">Sign In</a>
        <a href="/registerForm" id="sign">Sign Up</a>
        <a href=""><button class="dropdown-btn"  id="logout" onclick="logOutFromSite()">Log Out</button></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
let login = document.getElementById('login');
let signup = document.getElementById('sign');
let logout = document.getElementById('logout')
if(localStorage.getItem('token') == undefined) {
logout.style.display = 'none';
}

if(localStorage.getItem('token')){
  logout.style.display = 'block';
  login.style.display = 'none';
  signup.style.display = 'none';
}

function logOutFromSite() {
    localStorage.removeItem('token');
    window.location.replace('/loginForm')
}
    </script>

</header>