<!DOCTYPE html>
<html lang="en">
<%- include ('layouts/head') %>

<body id='body'>
    <section id='hero'>
        <%- include ('layouts/header') %>

        <main>
            <section id="slogan">
                <img src="/cooking.png" alt="">
                <h1>FOOD MADE WITH LOVE </h1>
                <div id="line"></div>
                <p>Take a slice of the world's perfect culinary heaven!</p>
                <a href='aAmerican'><button id="viewSearchButton">SEARCH RECIPES</button></a>
                <a href="#randomSection"><button>TODAY'S SPECIALS</button></a>


            </section>
        </main>
    </section>
    <section id="randomSection">
        <h2 id='randomH2'>Today's Specials</h2>
        <div id='line'></div>
        <section id='randomItems'>
      
        </section>
    </section>
    <%- include ('layouts/footer') %>
    <script>
        let div = document.getElementById('randomItems')
        getRandomRecipes();
        function getRandomRecipes() {
        let urls = [`https://www.themealdb.com/api/json/v1/1/random.php`, `https://www.themealdb.com/api/json/v1/1/random.php`,
        `https://www.themealdb.com/api/json/v1/1/random.php`, `https://www.themealdb.com/api/json/v1/1/random.php`,
        `https://www.themealdb.com/api/json/v1/1/random.php`, `https://www.themealdb.com/api/json/v1/1/random.php`
    ]
    for (let i = 0; i < 6; i++) {
        fetch(urls[i],{
            method : 'get'
        }).then(res=>res.json()).then(data=>{
            data.meals.map(ele =>{
                    console.log(ele.strMeal)
                    div.innerHTML += `<a href='d${ele.idMeal}'>
                <section class="resultView">
                    <div class='overlayContainer'>

                        <img src="${ele.strMealThumb}" class="image" />
                        <div class="overlay">
                            <div class="text">${ele.strMeal}</div>

                        </div>
                    </div>
                </section>
            </a>`
          
            })  
        })
    }
}
    </script>
</body>



</html>