<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Recipes</title>
</head>

<body>
    <form action="/recipes" method="POST">
        <label for="name">Recipe Name</label>
        <br>
        <input class="edit" type="text" value="roasted chicken" name="name"></input>
        <br>
        <label for="image_url">Enter an Image</label>
        <br>
        <input class="edit" type="text" value="image_url" name="image_url"></input>
        <br>
        <label for="category">category</label>
        <br>
        <input class="edit" type="text" value="" name="category"></input>
        <br>
        <label for="instructions">Instructions</label>
        <br>
        <textarea id="textarea" class="edit" name="instructions"></textarea>
        <br>
        <label for="area">Area</label>
        <br>
        <input class="edit" type="text" value="" name="area"></input>
        <br>
        <p class="add_field_button">Add Another Ingredient</p>
        <section class="input_fields_wrap">
          
           <div><label for="ingredient">Ingredient</label>
            <br>
            <input class="edit" type="text" value="" name="ingredient"></input>
            <br>
            <label for="measure">Measure</label>
            <br>
            <input class="edit" type="text" value="" name="measure"></input>
            <br><a href="#" class="remove_field">Remove</a>
        </div> 
        </section>
        <br>
        <label for="video_url">video_url</label>
        <br>
        <input class="edit" type="text" value="" name="video_url"></input>
        <br>

        <button type="submit">Add Recipe</button>

    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
    
</body>

</html>

