<!-- cookbook -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CookBook</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <p class="elementsCount">Number of recipes in your cookbook: <%= recipesList.length %></p>
<section>
    <% recipesList.forEach(recipe => { %>
    <section class="recipe-template">
        <p><br><%= recipe.name %></p><br><br>
        <img src="<%= recipe.image_url %>"><br><br>
        <button id="viewDetailsButton"><a href="/recipes/<%= recipe.id %>">View Recipe</a></button>

    </section>
    <% }); %>
    <form action="recipes/add" method="GET">
        <button type="submit">Add Recipe</button>
    </form>

</section>
</body>
</html>
